nav{
    /* background-color: black;
    display: flex;
    color: white;
    height: 80px;
    
    justify-content:space-evenly; */
    height: 90px;
    display: flex;
    position: relative;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    align-items: center;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
}

img{
    width: 80px;
    height: 88px;
    display: block;
    padding: 12px 37px 12px 16px;
}