nav{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
}
.navf{
    margin: auto;
    max-width: 1064px;
}
header{
    height: 90px;
    display: flex;
    position: relative;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    align-items: center;
    background-color: #fff;
}

.logoa{
    height: 88px;
    display: block;
    padding: 37px 37px 12px 16px;
}
.logoa img{
    width: 80px;
}